<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for @user %>
          <h1>
            <%= @user.name %>
          </h1>
          <% if @user.admin? %>
            <h3>
              <span class="label label-warning">관리자</span>
            </h3>
          <% end %>
        </div>
      </div>
      <%= render "shared/stats" %>
      <%= render "follow_form" if logged_in? %>
    </section>
  </aside>
  <% if @user.microposts.any? %>
    <div class="col-md-8">
      <h3>
        마이크로포스트
        <span class="badge"><%= @user.microposts.count %></span>
      </h3>
      <ol class="list-group">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    </div>
  <% end %>
</div>
