<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for @user %>
          <h1>
            <%= @user.name %>
          </h1>
          <% if @user.admin? %>
            <h3>
              <span class="label label-warning">관리자</span>
            </h3>
          <% end %>
        </div>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>
        마이크로포스트<span class="badge"><%= @user.microposts.count %></span>
      </h3>
      <ol class="list-group">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
